@font-face {
    font-family: "titulo";
    src: url(../font/FuturaNowHeadline-Bd.otf);

}

@font-face {
    font-family: "relleno";
    src: url(../font/Fontspring-DEMO-neuesingular-d-medium.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Around";
    color: #fff;
    font-family: "relleno";

}



body {
    background-image: radial-gradient(circle farthest-corner at 10% 20%, #2c2146 0.1%, #0a0a0a 99.8%);
    max-width: 1300px;
}


a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1, h2, h3, h4 {
    font-family: "titulo";
}



p {
    font-family: 'relleno';
    color: #757477;
    line-height: 20px;
    font-size: 1rem;
}



.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    
}



.header .nav {

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 80px;
    gap: 70px;

}

.header .nav nav a {

    margin-left: 40px;

}

.header .nav nav a:hover {

    margin-left: 40px;
    color: #d6e600;
    transition: .5s all;

}

.home {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.home .logo img {
    max-width: 300px;
}

.home .social i {
    color: #d6e600;
}
.home .social a:hover {
    color: #fff;
    transition: .5s all;
    transform: scale(1.2);
}

.home .social {
    margin-right: 60px;
    font-size: 40px;
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.nav-rigth {
    background: #d6e600;
    padding: 10px 10px;
}

.main-menu .nav-rigth nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 80px;
    gap: 20px;
   
}
.main-menu .nav-rigth nav a{
    color: #2c2146;
}

.main-menu .nav-rigth nav a:hover{
    color: #fff;
    transition: .5s all;
}

.banner .banner-img {
    width: 100%;
    height: 400px;
}

.banner .banner-img img{
    max-width: 100%;
}