<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML5 curso</title>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>

    <header>
        <div class="header-layout">
            <div class="logo-course">
                <img src="../img/logo.png" alt="">
            </div>
            <div class="login">
                <input type="search" name="Search" id="Search" placeholder="Buscar Cursos" class="uil uil-airplay">

            </div>
            <div class="social">
                <a href=""><i class="uil uil-facebook-f"></i></a>
                <a href=""><i class="uil uil-twitter"></i></a>
                <a href=""><i class="uil uil-youtube"></i></a>
            </div>
        </div>
    </header>

    <section class="home-layout">
        <div class="info-left">
            <h1>Curso de Introducción a HTML</h1>
            <p>Aprende HTML desde cero, sin conocimientos previos. Conoce todo sobre etiquetas HTML, y su semántica,
                Aprenderás todo lo que necesitas para empezar en el desarrollo web online y a construir sitios para
                internet de manera eficiente.
            </p>
            <div class="login-2">
                <input type="search" name="Search" id="Search" placeholder="Buscar Cursos" class="uil uil-airplay">

                <a href="">Comenzar</a>

            </div>
        </div>
        <div class="course-logo">
            <img src="../img/1.png" alt="">
        </div>
    </section>

</body>

</html>